extend /layout

block content
    h1 Login
    span.text-danger #{message}
    form(action="login", method="post")
        .form-group
            label(for="email")
            input(type="text", name="email", placeholder="Email").form-control
        .form-group
            label(for="password")
            input(type="password", name="password", placeholder="Password").form-control            
        button(type="submit").btn.btn-default Login