doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="/static/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/style.css", rel="stylesheet")
    body
        a(href='/') Index
        br
        a(href='about') About
        block content
        br
        hr
        footer
            p Copyright &copy; 2017